body{
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #2d261a, #180b03);
  overflow-x: hidden;
}

#background{
  background-image: url("Images/stars.png");
  background-size: 30%;
  background-repeat: repeat;

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mainImgHolder{
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

#Mercury, #Mercury_BLOOM{
  position: absolute;
  height: 75%;
  right: 50px;
  width: auto;
  z-index: 1;
}

#Mercury_BLOOM{
  filter: blur(40px);
  z-index: 0;
}

#MercuryHALF{
  position: absolute;
  left: -10%;
  bottom: -20%;
  height: 100%;
  width: auto;
  z-index: 1;
  transform: rotate(135deg);
}

#glowBGContainer{
  position: absolute;
  inset: 0;
}

.glowBG{
  position: absolute;
  width: 25%;
  aspect-ratio: 1;
  border-radius: 100%;
  filter: blur(200px);
  transition: background-color 0.25s;
}

.glowBG:nth-child(1){
  background-color: rgba(255, 189, 89, 0.4);
}

.glowBG:nth-child(2){
  background-color: rgba(138, 101, 36, 0.8);
  right: 0;
  bottom: 0;
}

#UIOverlay{
  position: absolute;
  z-index: 5;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 45%);
  display: flex;
  justify-content: end;
}

.uiButton{
  height: 100%;
  width: 25%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  transition: background-color 0.2s, backdrop-filter 0.2s, border-right 0.2s, border-left 0.2s;
  display: grid;
  grid-template-columns: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.uiButton:hover{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.uiButton:hover .nBtn{
  transform: translateY(0px);
  opacity: 1;
}

.uiButton:hover .name{
  transform: translateY(0px);
  opacity: 1;
}

.uiButton:hover .description{
  transform: translateY(0px);
  opacity: 1;
}

.uiButton:hover .btnName{
  transform: translateY(20px);
}

.uiButton:hover .btnDescription{
  transform: translateY(10px);
}

.btnInfo{
  align-self: end;
  margin-bottom: 50px;
}

.name{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.2s, opacity 0.2s;
}

.description{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  max-width: 90%;
  opacity: 0.7;
  justify-self: center;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.2s, opacity 0.2s;
}

.btnName{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 35px;
  transform: translateY(0px);
  transition: transform 0.2s;
}

.btnDescription{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  width: 100%;
  opacity: 0.6;
  transform: translateY(0px);
  transition: transform 0.2s;
}

.nBtn{
  width: 200px;
  height: 200px;
  background: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(200px);
  border-radius: 100%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform 0.2s, opacity 0.2s;
}

.nBtn p{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  font-size: 100px;
  font-weight: 700;
}

#menu{
  position: absolute;
  top: 30px;
  left: 30px;
}

#logo{
  width: 50px;
  height: auto;
  filter: invert(100%);
}


@media (max-width: 1200px) {
  .uiButton{
    width: 33.3%;
  }

  #mainImgHolder{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    justify-items: center;
  }

  #Mercury, #Mercury_BLOOM{
    inset: 0;
  }

  #UIOverlay{
    flex-direction: column;
    top: 0;
  }
}