body{
  font-family: 'Roboto', sans-serif;
  background: black;
  margin: 0;
  padding: 0;
}

#BGTextContainer{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

#BGTextContainer p:nth-child(1){
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 20px;
  color: white;
  margin: 0;
  position: fixed;
  z-index: -1;
}

#BGTextContainer p:nth-child(2){
  position: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 20px;
  color: rgba(0, 0, 0, 0);
  margin: 0;
  -webkit-text-stroke: 3px white;
  opacity: 0.8;
  z-index: 5;
}

#mainImgContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#mainImg{
  width: 100%;
}

#mainImgBLOOM{
  position: absolute;
  width: 100%;
  filter: blur(100px);
  z-index: -1;
}

#citate{
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 50px;
  max-width: 50%;
}

#mainContent{
  margin-top: 250px;
  width: 100%;
  color: white;
  letter-spacing: 5px;
}

.section{
  display: flex; 
  min-height: 400px;
  margin-top: 100px;
}

.leftSide{
  width: 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  padding: 20px 50px;
}
.sideHeaderText{
  font-size: 40px;
  margin: 0;
  margin-left: 20%;
  letter-spacing: 30px;
}

.rightSide{
  width: 50%;
  padding: 20px 50px;
}

.rightText{
  margin: 0;
}

#logo{
  position: fixed;
  left: 30px;
  top: 30px;
  height: 70px;
  width: auto;
  filter: invert(100%);
  opacity: 0.7;
  transition: transform 0.15s;
}

#logo:hover{
  cursor: pointer;
  transform: scale(1.15);
}
#logo:active{
  transform: scale(1.25);
}

@media (max-width: 1300px) {
  .sideHeaderText{
    margin-left: 2%;
    font-size: 25px;
    letter-spacing: 15px;
  }
}

@media (max-width: 800px) {
  .sideHeaderText{
    margin-left: 2%;
    font-size: 25px;
    letter-spacing: 15px;
  }
  .leftSide{
    padding: 20px 10px;
  }
  #BGTextContainer p:nth-child(1){
    font-size: 50px;
    letter-spacing: 20px;
  }
  #BGTextContainer p:nth-child(2){
    font-size: 50px;
    letter-spacing: 20px;
  }
}

@media (max-width: 700px) {
  .sideHeaderText{
    margin-left: 2%;
    font-size: 18px;
    letter-spacing: 5px;
  }
  .leftSide{
    padding: 20px 5px;
  }
  .rightSide{
    padding: 20px 5px;
  }
}

@media (max-width: 500px) {
  #BGTextContainer{
    justify-content: end;
    top: 30px;
    right: 30px;
  }
  .rightText{
    font-size: 12px;
    letter-spacing: 1px;
  }
  .sideHeaderText{
    letter-spacing: 1px;
  }
  #BGTextContainer p:nth-child(1){
    font-size: 35px;
    letter-spacing: 15px;
  }
  #BGTextContainer p:nth-child(2){
    font-size: 35px;
    letter-spacing: 15px;
  }
  .section{
    display: flex; 
    flex-direction: column;
  }
  .leftSide, .rightSide{
    width: 90%;
    border: none;
  }

  #citate{
    max-width: 90%;
  }
}

@media (max-width: 350px) {
  #BGTextContainer p:nth-child(1){
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 400;
  }
  #BGTextContainer p:nth-child(2){
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 400;
  }
}